@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #7df9ff;
  --foreground: #171717;
  --font-primary: 'Space Grotesk', Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: var(--font-primary);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.fade-in-up {
  animation: fadeInUp 1s ease-out forwards;
}

.fade-out-up {
  animation: fadeOutUp 1s ease-in forwards;
}

