@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #0a0a0a;
  --font-primary: 'Space Grotesk', Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: var(--font-primary);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.fade-in-up {
  animation: fadeInUp 1s ease-out forwards;
}

.fade-out-up {
  animation: fadeOutUp 1s ease-in forwards;
}
@keyframes buildUp {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Apply animation to the entire "YOOSCH" text */
.yoosch-text {
  display: inline-block;
  position: relative;
  display: flex;
}

.yoosch-text span {
  display: inline-block;
  opacity: 0;
  animation: buildUp 1s ease-out forwards; /* Add animation to each letter */
  margin: 0 2px; /* Space out the letters */
}

.yoosch-text span:nth-child(1) {
  animation-delay: 0s;
}

.yoosch-text span:nth-child(2) {
  animation-delay: 0.1s;
}

.yoosch-text span:nth-child(3) {
  animation-delay: 0.2s;
}

.yoosch-text span:nth-child(4) {
  animation-delay: 0.3s;
}

.yoosch-text span:nth-child(5) {
  animation-delay: 0.4s;
}

.yoosch-text span:nth-child(6) {
  animation-delay: 0.5s;
}

/* Optional: Add a fade-out effect for the loader container */
.loader-container {
  transition: opacity 0.7s ease-in-out;
}

